@model IEnumerable<PRUEBA.SAMTEL.Models.Alumno>

@{
    ViewBag.Title = "Listado de Alumnos";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Alumnos", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AlumnoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumnoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumnoDireccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumnoTelefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumnoFechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlumnoIdentificacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoDireccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoTelefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoFechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AlumnoIdentificacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AlumnoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.AlumnoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AlumnoId })
        </td>
    </tr>
}

</table>
